#image{
    max-width: 100% !important;
    height: 80vh;
}
.card{
    width: 15% !important;
    height: 50% !important;
    margin: 10px;
    cursor: pointer;
}
.card-img-top{
    width: auto;
    /* height: 0px !important; */
}
.card p{
    font-size: 10px;
    /* display: none; */
}
.card:hover{
    /* transform-origin: top, left; */
    transform: scale(1.5);
    z-index: 1;
}
.fa-magnifying-glass, .fa-bell{
    margin-top: 12px;
    font-size: 13;
}
.fa-circle-play{
    color: white !important;
}
.nav-link:hover, .fa-magnifying-glass:hover, .fa-bell:hover{
    color: #C7C8C9 !important;
}
@media (max-width: 700px) {
    .container-fluid{
        padding: 1em !important;
    }
    .row{
        flex-direction: column;
    }
    .card{
        width: 100% !important;
        height: 50% !important;
        margin: 0px;
        margin-top: 2px;
        cursor: pointer;
    }
    .card:hover{
        /* transform-origin: top, left; */
        transform: scale(1);
        /* z-index: 0; */
    }
}