#image{
    max-width: 100% !important;
    height: 90vh;
}
.card{
    width: 15% !important;
    height: 50% !important;
    margin: 10px;
    cursor: pointer;
}
.card-img-top{
    width: auto;
    height: 200px !important;
}
.card p{
    font-size: 10px;
    display: none;
}
.card:hover,.card p:hover{
    /* transform-origin: top, left; */
    transform: scale(2);
    z-index: 2;
    font-size: 10px;
    display: block;
}